:root {
    --mainColor: #15202B;
    --secondaryColor: #192734;
    --borderColor: #164D56;
    --mainText: #fff;
    --secondaryText: #eeeeee;
    --themeDotBorder: #fff;
    --preview:#192734a8;
    --previewShadow: #111921;
    --btnColor: #17a2b8;
  }